*{
    margin: 0px;
    padding: 0px;
}
#header{
    display: flex;
    flex-flow: row wrap;
}
#menu{
    flex-grow: 1;
    flex-basis: 100%;
    height: 120px;
    background: rgb(235, 229, 229);
}
#menu>ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    margin: 0px 50px;
    list-style: none;
}
#menu a{
    text-decoration: none;
    color: rgb(148, 141, 141);
    font-size: 25px;
    padding: 15px;
    transition: all 300ms;
}
#menu a:hover{
    text-decoration: none;
    color: white;
    font-size: 25px;
    background: gray;
}
#logo{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.logo{
    background-image: url("./images/cocinera.jpg");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    height: 200px;
}

#wrap{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 20px 50px;
}
#categoria{
    flex-basis: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cajas{
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.caja{
    flex-grow: 1;
    flex-basis: 250px;
    margin: 5px 15px;
    border: 1px solid #ccc;
}
.caja img{
    width: 100%;
    /* height: 350px; */
}
.content{
    overflow: hidden;
}
.content div{
    margin: 15px auto;
}
.content button{
    padding: 3px 8px;
}