*{
    margin: 0px;
    padding: 0px;
}
.tela{
    background-image: url("./images/franja-tela.jpg");
    background-repeat: repeat;
    height: 110px;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 40px;
    background: #F6343F;
}
nav ul{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 90px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Muli;
    color: white;
}
#logo{
    border-bottom: 1px solid rgb(136, 131, 131);
}
.logo{
    background-image: url("./images/cocinera.jpg");
    background-size: 220px;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
}
.logo-name{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: 30px;
    font-family: "Oswald";
    letter-spacing: 1px;

}
#wrap{
    padding: 40px 150px;
}
#categoria{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 50px;

}
.cajas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.caja{
    flex-basis: calc(70% / 3);
    margin-bottom: 30px;
    border: 1px solid rgb(224, 219, 219);
}
.caja-img img{
    width: 320px;
    height: 320px;
}
.content{
    padding: 0px 10px;
}
.content h3{
    display: block;
    text-align: center;
    margin: 10px auto;
}
.content div{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}